.button-style{
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: blue;
  width: 4em;
  height: 4em;
  background-color: white;
  border: 3px solid red;
  border-radius: 50%;
}
