@import "styles/mediaQueries.scss";

$button-color: #757575;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}




.calculator-body{
  height: 100vh;
  height: -webkit-fill-available;

  
  display: grid;
  grid-template-rows: 0.35fr 1fr;
  grid-gap:2.5%

}







.equation-box{
  // box-sizing: border-box;
  border-bottom: 2.5px solid white;
  padding: 2.5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  }
  
  .equation-content{
    color: white;
    width: inherit;
    font-size: 2.5em;
    text-align: right;
    word-wrap: break-word;
    }



.button-style{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $button-color;
  font-size: 2.5em;
  border-radius: 20%;
  
  &:active{
    background-color: darken($button-color, 15%);
  }
  
  
}


.button-layout{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 22.5vw);
  grid-auto-rows: 22.5vw;
  place-content: space-evenly;
}



[button-value~="("],
[button-value~=")"],
[button-value~="^"],
[button-value~="C"]{
  grid-row: 1;
}
  
[button-value~="1"],
[button-value~="2"],
[button-value~="3"]{
  grid-row: 2;
}


[button-value~="4"],
[button-value~="5"],
[button-value~="6"]{
  grid-row: 3;
}


[button-value~="7"],
[button-value~="8"],
[button-value~="9"]{
  grid-row: 4
}


[button-value~="0"],
[button-value~="."],
[button-value~="="]{
  grid-row: 5;
}

// [button-value~="+"],
// [button-value~="-"],
// [button-value~="*"],
// [button-value~="/"],
// [button-value~="="]{
//   background-color: #fea607;
//   grid-column: 4;
// }



